# Dependencies
node_modules/
package-lock.json

# Environment Secrets
.env
.env.local

# Uploads & Temporary storage
uploads/*
!uploads/.gitkeep
processed/*
!processed/.gitkeep

# Logs & System
*.log
npm-debug.log*
.DS_Store
Thumbs.db
git-portable/
